body{
    background:  #031321;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
.BTN{
    background: none;
    border: 1px solid rgba(100,100,100,0.5);
    transition: 0.25s;
    width: 100px;
    height: 100px;
}
#B1:hover,#B2:hover,#B3:hover,
#B4:hover,#B5:hover,#B6:hover,
#B7:hover,#B8:hover,#B9:hover{
    border:#2196f3;
    box-shadow: 0 0 5px #2196f3, 0 0 10px #2196f3;
    border-radius: 20%;
}
.PARA{
    font-size: 200%;
    background: none;
    border:none;
    margin-top: 100px;
    padding:20px;
}
h1{
    background:  #FFF;
    color:  #031321;
}
#S1{
    color: #5b8c5a;
    box-shadow: 0 0 5px #5b8a10, 0 0 50px #5b8c5a;
}
#S2{
    color: #d45079;
    box-shadow: 0 0 5px #d44000, 0 0 50px #d45079;
}
#S1:hover{
    background-color: rgba(100,100,100,0.5);
}
#S2:hover{
    background-color: rgba(100,100,100,0.5);
}
